


.pnp.*
.yarn/*
.DS_Store
node_modules/
yarn-error.log
*.hprof
.vercel
.env.local
.env
.expo
extra.config.js


**/env
**/generated/**

.pnp.*
.yarn/*
build/**
dist/**
.next/**

apps/docs/next-env.d.ts